/* display */
.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

/* text-align */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* margin */
.m-auto {
    margin: auto;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* width */
.width-full {
    width: 100%;
}

/* .width-fit{
    width: fit-content;
} */

/* color */
.c-white {
    color: white;
}

.c-black {
    color: black;
}

/* position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

/* transition */
.common-transition {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.transition-1 {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

/* border */
.border-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}